<!DOCTYPE html>
<html lang-"eng" dir="ltr">
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" />
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<title> Flash App! </title>
</head>
<body>
<div class="container">
        <div class=row">
        <div class="one-column half" style="margin-top: 25%; font-family: 'Montserrat', sans-serif;">
        	<h4> Hello, World!</h4>
		<p>this is a live container running Flask framework with static contents</p>

   </div>
  </div>
</div>
</body>
</html>
